/*body*/
body {
  white-space: 0px;
  margin: 0;
  padding: 0;
  background-color: white;
}
/*header*/
#navigation_bar {
  height: 51px;
  background-color: black;
}
/*LOGO*/
.logo_container {
  margin: 5px 5px 5px 50px;
  float: left;
  height: 40px;
}
.logo_image {
  float: left;
  height: 40px;
  margin: 0px 10px;
}
/*NAVIGATION*/
#navigation_container {
  float: right;
  height: 31px;
  margin: 10px 50px 10px 50px;
  text-decoration: none;
  align-items: center;
}
/*HOME, PROJECT, ABOUT*/
.nav {
  font-size: 14pt;
  font-family: roboto, sans-serif;
  color: white;
  margin: 15px 20px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0em;
}
/*CONTACT BOX*/
#contact {
  border-radius: 7px;
  float: right;
  height: 24px;
  float: right;
  background-color: white;
}
.contact_border {
  padding: 1px;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
  border: 2px white solid;
  height: 24px;
  float: right;
}
/*CONTACT TEXT*/
.contact {
  font-size: 11pt;
  font-family: lato, sans-serif;
  color: rgb(0, 0, 0);
  margin: 5px 10px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0em;
  font-weight: 500;
}

/*PROJECTS SECTION*/

#contacts_section {
  height: 861px;
  top: 0%;
  background-color: rgb(19, 19, 19);
  padding-top: 10px;
}
/*TEXT SECTION*/
#contacts_text_container {
  width: auto;
  width: auto;
}
/*TEXT*/
.contact_text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 66px;
  text-align: center;
  margin: 0 auto;
}
/*ABOUT BOXES SECTION*/
#contacts_box_container {
  padding: 35px 60px;
  align-content: center;
  height: 550px;

  padding: 0px 100px;
}
.intro_container {
  float: left;
  width: 1107px;
  margin: 54px 0px 54px 0px;
}
/*INTRO TAG*/
.intro_tag {
  height: 301px;
}
/*INTRO SHORT*/

.eamil {
  color: white;
  font-family: lato, sans-serif;
  font-weight: bolder;
  font-size: 20pt;
  text-align: justify;
}
/*INTRO MAIN*/
.address {
  color: white;
  font-family: lato, sans-serif;
  font-size: 18pt;
  font-weight: 300;
  text-align: justify;
}
/*INTRO PHOTO*/

/*BOXES*/

/*FOOTER SECTION*/
#footer_container {
  float: left;
  background-color: rgb(19, 19, 19);
  height: 54px;
  margin: 0, auto;
  width: 100%;
}
/*FOOTER SECTION*/
#footer_container {
  float: left;
  background-color: rgb(19, 19, 19);
  height: 54px;
  margin: 0, auto;
  width: 100%;
}
/*SOCIALS*/
.social_links {
  text-decoration: none;
  color: white;
}
.social {
  font-family: lato, sans-serif;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.6em;
  font-weight: 500;
  color: white;
  margin: 0 auto;
  text-align: center;
}
