/*body*/
body {
  white-space: 0px;
  margin: 0;
  padding: 0;
  background-color: white;
}
/*header*/
#navigation_bar {
  height: 51px;
  background-color: black;
}
/*LOGO*/
.logo_container {
  margin: 5px 5px 5px 50px;
  float: left;
  height: 40px;
}
.logo_image {
  float: left;
  height: 40px;
  margin: 0px 10px;
}
/*NAVIGATION*/
#navigation_container {
  float: right;
  height: 31px;
  margin: 10px 50px 10px 50px;
  text-decoration: none;
  align-items: center;
}
/*HOME, PROJECT, ABOUT*/
.nav {
  font-size: 14pt;
  font-family: roboto, sans-serif;
  color: white;
  margin: 15px 20px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0em;
}
/*CONTACT BOX*/
#contact {
  border-radius: 7px;
  float: right;
  height: 24px;
  float: right;
  background-color: white;
}
.contact_border {
  padding: 1px;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
  border: 2px white solid;
  height: 24px;
  float: right;
}
/*CONTACT TEXT*/
.contact {
  font-size: 11pt;
  font-family: lato, sans-serif;
  color: rgb(0, 0, 0);
  margin: 5px 10px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0em;
  font-weight: 500;
}

/*PROFILE SECTION*/

#profile_section {
  height: 685px;
  background-color: rgb(19, 19, 19);
  padding: 100px;
  margin: 0;
}
.profile_image {
  float: left;
  height: 600px;
  width: 600px;
}
.profile_introduction {
  float: left;
  height: 510px;
  margin: 45px 0px 0px 50px;
}
.service_box {
  margin: 0px 50px 0px 0px;
  padding: 11px 17px;

  float: right;
  background-color: white;
  color: black;
  border-radius: 20px;
}
.services {
  color: black;
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
#footer_container {
  float: left;
  background-color: rgb(19, 19, 19);
  height: 54px;
  margin: 0, auto;
  width: 100%;
}
.social_links {
  text-decoration: none;
  color: white;
}
.social {
  font-family: lato, sans-serif;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.6em;
  font-weight: 500;
  color: white;
  margin: 0 auto;
  text-align: center;
}
