/*body*/
body {
  white-space: 0px;
  margin: 0;
  padding: 0;
  background-color: white;
}
/*header*/
#navigation_bar {
  height: 51px;
  background-color: black;
}
/*LOGO*/
.logo_container {
  margin: 5px 5px 5px 50px;
  float: left;
  height: 40px;
}
.logo_image {
  float: left;
  height: 40px;
  margin: 0px 10px;
}
/*NAVIGATION*/
#navigation_container {
  float: right;
  height: 31px;
  margin: 10px 50px 10px 50px;
  text-decoration: none;
  align-items: center;
}
/*HOME, PROJECT, ABOUT*/
.nav {
  font-size: 14pt;
  font-family: roboto, sans-serif;
  color: white;
  margin: 15px 20px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0em;
}
/*CONTACT BOX*/
#contact {
  border-radius: 7px;
  float: right;
  height: 24px;
  float: right;
  background-color: white;
}
.contact_border {
  padding: 1px;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
  border: 2px white solid;
  height: 24px;
  float: right;
}
/*CONTACT TEXT*/
.contact {
  font-size: 11pt;
  font-family: lato, sans-serif;
  color: rgb(0, 0, 0);
  margin: 5px 10px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0em;
  font-weight: 500;
}

/*PROJECTS SECTION*/

#projects_section {
  height: 861px;
  top: 0%;
  background-color: rgb(19, 19, 19);
  padding-top: 10px;
}
/*TEXT SECTION*/
#project_text_container {
  width: auto;
}
/*TEXT*/
.project_text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 66px;
  text-align: center;
  margin: 0 auto;
}
/*PROJECTS BOXES SECTION*/
#project_box_container {
  padding: 35px 60px;
  align-content: center;
  height: 550px;
}
/*BOXES*/
.box_one {
  float: left;
  margin: 0 26px;
  background-color: white;
  width: 381px;
  height: 547px;
  border-radius: 50px;
  box-shadow: 6px 6px 6px 0px rgb(124, 124, 124);
}
.client {
  width: 369px;
  margin: 374px 6px 6px 6px;
  border-radius: 50px;
  height: 167px;
  background-color: black;
}
.client_info {
  padding: 10px 20px;
  color: white;
  font-family: roboto, sans-serif;
  text-align: left;
  font-size: small;
}

/*NAV BOT SECTION*/
#button_container {
  padding: 15px 0px 0px 0px;
  text-align: center;
  height: 40px;
}
/*NAV BOT*/
.nav_bot {
  line-height: 0px;
  margin: 0 auto;
  margin: 0px 50px 0px 0px;
  color: white;
  border-radius: 20px;
  font-family: montserrat, sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
/*FOOTER SECTION*/
#footer_container {
  float: left;
  background-color: rgb(19, 19, 19);
  height: 54px;
  margin: 0, auto;
  width: 100%;
}
/*SOCIALS*/
.social_links {
  text-decoration: none;
  color: white;
}
.social {
  font-family: lato, sans-serif;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.6em;
  font-weight: 500;
  color: white;
  margin: 0 auto;
  text-align: center;
}
